[submodule "firefly-rk3399-uboot/mainline-u-boot"]
	path = firefly-rk3399-uboot/mainline-u-boot
	url = git@github.com:changxiangzhong/firefly-rk3399-uboot.git
[submodule "firefly-rk3399-uboot/trusted-firmware-a"]
	path = firefly-rk3399-uboot/trusted-firmware-a
	url = https://github.com/TrustedFirmware-A/trusted-firmware-a.git
[submodule "firefly-rk3399-uboot/rkbin"]
	path = firefly-rk3399-uboot/rkbin
	url = https://github.com/rockchip-linux/rkbin
[submodule "firefly-rk3399-kernel/mainline-kernel"]
	path = firefly-rk3399-kernel/mainline-kernel
	url = git@github.com:changxiangzhong/firefly-rk3399-kernel.git
